body{
    background-color: rgb(157, 93, 216);
}

header{
    text-align: center;
    color:white;
}

section{
    background: white;
    width: 500px;
    text-align: center;
    margin: auto;

}

#img{
    text-align: center ;
    width: 100px;
    height: 100px;
}




















